# [mcu pico]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_E66164084330BA39-if00

# [adxl345]
# cs_pin: pico:gpio1
# spi_bus: spi0a
# axes_map: x,z,y


#spi_software_mosi_pin: pico:PB15
#spi_software_miso_pin: pico:PB14
#
[adxl345 hotend]
cs_pin: SB2040:ADXL
spi_software_sclk_pin: SB2040:gpio0
spi_software_mosi_pin: SB2040:gpio3
spi_software_miso_pin: SB2040:gpio2

[resonance_tester]
accel_chip: adxl345 hotend
probe_points: 110,110,40

# [adxl345]
# cs_pin: SB2040:ADXL
# spi_software_sclk_pin: SB2040:gpio0
# spi_software_mosi_pin: SB2040:gpio3
# spi_software_miso_pin: SB2040:gpio2
# axes_map: -z,y,x


# # [safe_z_home]
# # home_xy_position: 110, 117.5
# # speed: 50


# [adxl345_probe]
# probe_pin: SB2040:gpio20
# int_pin: int1 # select either int1 or int2, depending on your choice of wiring
# tap_thresh: 2000 # this needs to be tuned
# tap_dur: 0.01 # this needs to be tuned
# speed: 20 # this needs to be tuned
# # Adjust this to your liking
# samples: 3
# sample_retract_dist: 3.0
# samples_result: median
# samples_tolerance: 0.01
# samples_tolerance_retries: 20
# z_offset: 0